*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: url(imagens/espaco.jpg);
    background-position: center center;
    
   
}
div{
    
   
    text-align: center;
}
div img{
height: 92vh;    

}